@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
body{
    font-family: 'Ibarra Real Nova', serif;
    height: 1000vh;
    background-color: bisque;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: fixed;
    cursor: pointer;
    color: white;
}
label #btn{
    left: 40px;
    top: 25px;
    height: 25px;
    text-align: center;
    width: 30px;
    font-size: 25px;
    transition: all 400ms;
    z-index: 100;
}
label #cancel{
    text-align: center;
    top: 25px;
    left: -220px;
    width: 25px;
    font-size: 25px;
    z-index: 100;
    transition: all 400ms;
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all 400ms;
   
}
.sidebar header{
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
}
.sidebar ul li:hover a{
    padding-left: 50px;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 210px;
    opacity: 0;
}
#check:checked ~ label #cancel{
    left: 220px;
}
#check:checked ~ section{
    margin-left: 250px;
}
#check:checked ~ .main{
    margin-left: 250px;
}
section{
    background: url(img/imagetwo.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    border-top: 1px solid #042331;
    transition: all 400ms;
    box-sizing: border-box;
    box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.63);
}
.main{
    position: sticky;
    background: #063146;
    top: 0;
    height: 10vh;
    transition: all 400ms;
    box-sizing: border-box;
    box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.63);
}
.main .box{
    width: 50%;
    height: 100%;
    margin-left: 50%;
    display: flex;
}
.main .box ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    align-items: center;
}
.main .box ul a {
    color: aliceblue;
}